<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title%></title>
    <!-- HEAD -->
    <%- include('layouts//head.html') %>
</head>

<body>


    <%- include('layouts//navbar.html') %>


    <!-- MAIN CONTENT -->

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                
                <div class="row"> Pagina Principal  </div>
                
            </div>
        </div>    
    </main>


    <!-- FOOTER -->
    <%- include('layouts//footer.html') %>

</body>

</html>